{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OnClick</title>

{% include "style.html" %}

  </head>
  <body>
    
{% include 'navbar.html' %}
    <!-- END nav -->

    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">OneClick Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'blog:list' 1%}">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h3>{{artikel.judul}}</h3>
            <p>{{artikel.kategori}} | {{artikel.published}}</p>
            <p>{{artikel.content|safe}}</p>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
              </div>
            </div>



          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                {% for kategori in kategori_list %}
                <li><p><a href="{% url 'blog:kategori' kategori 1 %}">{{kategori}}</a></p></li>
                {% endfor %}
              </div>
            </div>
            <div class="sidebar-box ftco-animate">
              <h3>Terbaru</h3>
              <div class="block-21 mb-4 d-flex">
                <div class="text">
                  {% for artikel in recent %}
                    {% if forloop.counter is not 3 %}
                  <h3 class="heading"><a href="{% url 'blog:detail' artikel.slug %}">{{artikel.judul}}</a></h3>
                  <p>{{artikel.published}}</p><br>
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Artikel Serupa</h3>
              <div class="block-21 mb-4 d-flex">
                <div class="text">
                  {% for artikel in artikel_serupa %}
                    {% if forloop.counter is not 2 %}
                  <h3 class="heading"><a href="{% url 'blog:detail' artikel.slug %}">{{artikel.judul}}</a></h3>
                  <p>{{artikel.published}}</p><br>
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section> <!-- .section -->

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="logo"><a href="#">One<span>CLick</span>.</a></h2>
              <p>Terima kasih sudah berkunjung, jika ada pertanyaan atau saran ,silakan kirim ke Telegram atau Email.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Ada Pertanyaan ?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Sumatera,Indonesia</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">Telegram +628</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


{% include "scripts.html" %}

  </body>
</html>