    <nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="{% url 'index' %}">One<i>Clik</i>.</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="{% url 'blog:list' 1 %}" class="nav-link">Artikel</a></li>
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'account:view_profile' %}" class="nav-link">Profile</a></li>           
              <!-- Position -->
              <div class="btn-group">
                <button type="button" class="btn btn-success"><a href="{% url 'promoted' %}">Postition</a></button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'blog:create' %}">Penulis</a>
                  <a class="dropdown-item" href="{% url 'blog:manage' %}">Editor</a>
              </div><br>
              <br>
              <!-- account -->
              <div class="btn-group">
                <button type="button" class="btn btn-info">Akun</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'account:password_change' %}">Ubah Pass</a>
                  <a class="dropdown-item" href="{% url 'account:password_reset_view' %}">Lupa Pass</a>
                  <a class="dropdown-item" href="{% url 'account:logout' %}">Keluar</a>
              </div>
            {% else %}
              <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">Login</a></li>
              <li class="nav-item"><a href="contact.html" class="nav-link">Lupa Password ?</a></li>  
              <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link">Daftar</a></li> 
            {% endif %}   
          </ul>
	      </div>
	    </div>
	  </nav>